
name: Greetings

on:
  pull_request:
    types:
      - opened
  issues:
    types:
      - opened

permissions:
  issues: write
  pull-requests: write

jobs:
  greeting:
    name: Greet First-Time Contributors
    runs-on: ubuntu-latest

    steps:
    - uses: actions/first-interaction@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue_message: >-
          Thanks for submitting an issue! I'll check it at as soon as possible
          and get back to you.
        pr_message: >-
          Thanks for submitting a PR. If the PR is a valid and passes
          all the checks , we will approve it soon. Have a great day !
